<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{employee-layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>


<body>

<div layout:fragment="body">

    <div class="container-fluid">

        <!-- Page Heading -->
        <p class="mb-4">Abaixo está listado os formulários pendentes para serem respondidos</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formulários Pendentes</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                        <thead>
                        <tr>
                            <th>Data</th>
                            <th>Título do Formulário</th>
                            <th>Opções</th>

                        </tr>
                        </thead>
                        <div class="input-group input-group-sm mb-2">
                            <input type="text" class="form-control">
                            <span class="input-group-append">
                                <!--aqui tem que por th:text=@{collaborator.fullName}-->
                            <button type="button" class="btn btn-info btn-flat bg-primary">Pesquisar</button>
                        </span>
                        </div>

                        <tbody>
                        <tr th:each="form:${forms}">
                            <td th:text="${form.datelimit}">30/12/2022</td>
                            <td th:text="${form.title}">Teste de aptidão</td>

                            <td>
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Responder</a>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>30/12/2022</td>
                            <td>Teste maluco</td>
                            <td>
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">Responder</a>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>30/05/2022</td>
                            <td>Teste maluco 2</td>
                            <td>
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item ">
                                        <a class="nav-link active" href="#">Responder</a>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
</body>

</html>