<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{reviewer-layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>


<body sec:authorize="hasRole('REVIEWER')">

<div layout:fragment="body">

    <div class="container-fluid">

        <!-- Page Heading -->
        <p class="mb-4">Abaixo está listado os formulários respondidos pelos seus colaboradores</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Formulários Respondidos</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-bordered  " id="dataTable" width="100%" cellspacing="0">

                        <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Titulo do formulário</th>
                            <th>Opções</th>

                        </tr>
                        </thead>

                        <tbody>

                        <tr th:each="respondent:${respondents}">
                            <td th:text="${respondent.name}">30/12/2022</td>
                            <td th:text="${respondent.form.title}">Teste de aptidão</td>

                            <td>
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active"
                                           th:href="@{/form/view-form-question/{id}/{formId}   (id=${respondent.id}, formId=${respondent.form.id})   }">Avaliar</a>
                                        <!--th:href="@{/form/view-form-question/{id}/{formId}  (id=${respondent.id}) (formId=${form.id})}"-->
                                        <!-- vai mandar para a listagem de avaliações daquele colaborador   th:href="@{/form/add-employee-page/{id}  (id=${form.id})}"-->
                                    </li>

                                </ul>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>

</body>

</html>