@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Kdam+Thmor+Pro&family=Open+Sans:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:Helvetica;
}

body{
    background:linear-gradient(75deg, #a5dbfa, #1697ec) ;
}   

body.landingpage {
    background-image: url(/resources/assets/img/background-img.jpg)
}

.landingpage-header {
    display:flex;
    flex-direction: row; 
    justify-content: space-around;
    padding: 12px;
    border-bottom: 0.4px solid #ecebea;
}

.logo {
    height:72px;
    border-radius: 30px;
}

.landingpage-menu{
    display:flex;
    gap: 32px;
    margin-left: 0px;
}

.landingpage-menu-botao {
    background: #16882F;
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ecebea;
    margin: 10px;
}

.landingpage-menu-botao:hover {
    background-color: #05771E;
}

.landingpage-main{
    margin-left: 250px;
}

.landingpage-main-section {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.landingpage-leftside-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}


.landingpage-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    text-align: justify;
    width: 700px;
}

.texto-descricao {
    color: #ecebea;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.landingpage-nome {
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-size: 50px;
    color: #ecebea;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
}

.botao-sobre {
    background: #16882F;
    width: 270px;
    height: 90px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ecebea;
    font-size: 24px;
}

.botao-sobre:hover {
    background-color: #05771E;
}

.footer-landingpage {
    margin-top: 117px;
    border-top:solid #ecebea;
    background-color: rgb(80, 80, 80);
    padding: 45px;
    padding-bottom: 200px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
}

.footer-texto-landingpage {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.footer-texto-titulo {
    font-family: 'Sarala', sans-serif;
    color:#ecebea;
    font-weight: 400;
    font-size: 40px;
}

.texto-funcionalidades {
    font-family: 'Sarala', sans-serif;
    color:#ecebea;
    font-weight: 400;
    font-size: 24px;
}

/* Funcionario */

body.funcionario{
    background: rgb(240, 240, 240);
}

.funcionario-header {
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    padding: 12px;
    border-bottom: 30px solid #262627;;
    background-color: #0b6099;
}

.funcionario-menu {
    display: flex;
    gap: 36px;
    align-items: center;
}

.funcionario-menu-texto{
    text-decoration: none;
    font-family: 'Sarala', sans-serif;
    color:#ecebea;
    font-weight: 400;
    font-size: 18px;
}

.funcionario-menu-texto:hover{
    color: rgb(17, 9, 94);
}

.foto-do-funcionario{
    border-radius: 50px;
}

.funcionario-main{
    display: flex;
    flex-direction: row;
    gap: 500px;
    padding: 200px;
}

.table{
    border: 3px solid #6b6b6e !important;
    background-color: #e6e6e6 !important;
}

.funcionario-table-col{
    border-bottom: 3px solid #6b6b6e !important;
}

/* Login */

.login-container, .rec-pass-container{

    background-color: #fff;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 30px;
    margin-top:20vh;
    border-radius:10px;
    text-align:center;
    box-shadow: 5px 3px 3px #01050a;
    
}


textarea:focus,input:focus{
    outline:none;
}

.a-inputs{
    font-size:.8rem;
}

/*formulario*/

form{
    margin-top:30px;
    margin-bottom:40px;
}

#avaliador-user,#funcionario-user{
    margin:.1rem
}
#legenda{
    font: 1rem 'Fira Sans', sans-serif;

}
.label-inputs, .inputs{
    display:block;
    width:100%;
    text-align:left;
}

.label-inputs{
    font-weight:bold;
    font-size:.8rem;
}
.inputs{
    border-bottom: 2px solid #323232;
    padding:10px;
    font-size: 1rem;
    margin-bottom:20px;
}
.inputs:focus{
    border-bottom: 2px solid #1697ec;
}

#recover-password{
    text-align:right;
    display:block;
}

.submit-btn{
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    border:bold;
    height:40px;
    width: 90px;
    border-radius:20px;
    margin-top:30px;
    color:#fff;
    background-color:#16882F;
    cursor:pointer;
    box-shadow: 2px 1px 1px #323232;
}
.submit-btn:hover{
    background-color: #05771E;
    transition:1s;
}

/*cadastrar.html*/

#cadastrar-container{
    background-color: #fff;
    width:600px;
    height:900px;
    margin-left:auto;
    margin-right:auto;
    padding:20px 30px;
    margin-top:10vh;
    border-radius:10px;
    text-align:center;
    box-shadow: 5px 3px 3px #01050a;
}


.inputs-cadastrar{
    border-bottom: 1px solid #323232;
    padding:5px;
    font-size: .9rem;
    margin-bottom:8px;
}

