<!DOCTYPE html>
<html lang="en" layout:decorate="~{reviewer-layout}" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Add-option</title>
    <div th:replace="fragments/head-imports::scripts"></div>
</head>
<body sec:authorize="hasRole('REVIEWER')">
<div layout:fragment="body">
    <div class="container mt-6">
        <div class="container-fluid ">
            <div class="card ">

                <!--PERGUNTA FECHADA ai o options vai ganhar os atributos A,B,C,D,E   e tem que ter no banco tb-->
                <form id="form" th:action="@{/form/option-create}" method="POST">
                    <input type="hidden" th:value="${question.id}" name="questionId">
                    <input type="hidden" th:value="${form.id}" name="formId">
                    <!--th:text="${question}"ou thvalue e isso é o id da questao-->
                    <div class="col-lg-12">
                        <div class="card-body">
                            <div class="form-group">
                                <div class="row justify-content-md-center">
                                    <p>Descreva as alternativas e marque apenas a correta. </p>
                                </div>

                                <div class="border-bottom border-danger"></div>
                                </br>
                                <div class="form-group">
                                    <div class="row justify-content-md-center">
                                        <div class="col col-md-auto">
                                            <label>Qual letra:</label><span style="padding-left:25px"></span>
                                            <select
                                                    name="option_label" id="option_label" style="width:100px">
                                                <option id="A_id"
                                                        value="A">A
                                                </option>
                                                <option id="B_id"
                                                        value="B">B
                                                </option>
                                                <option id="C_id"
                                                        value="C">C
                                                </option>
                                                <option id="D_id"
                                                        value="D">D
                                                </option>
                                                <option id="E_id"
                                                        value="E">E
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-text">
                                        <input type="checkbox" name="correctAnswer">
                                    </div>
                                    <textarea type="text" class="form-control" name="description" rows="3" id="alternativeDescription_id"></textarea>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-center">
                                <a th:href="@{/form/form-details/{id}  (id=${form.id}) }" class="btn btn-danger">voltar</a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger" id="addAlternative_id">Submeter</button>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<div th:replace="fragments/footer-imports::scripts"></div>


<div th:replace="fragments/footer-imports::scripts"></div>
</body>
</html>