<!DOCTYPE html>
<html lang="en" layout:decorate="~{employee-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-imports::scripts"></div>
</head>

<body sec:authorize="hasRole('EMPLOYEE')"> >

<div layout:fragment="body" >
    <div class="container-fluid">
        <div class="col-sm-12 mt-4">

            <h3 class="mt-4" th:text="${form.title}">Formulário Risco e Compliance</h3>
            <h6 >
                Data de criação :
            </h6><h6 th:text="${form.datetime}">29/09/2022</h6>

            <h6>
                Data limite para resposta:
            </h6><h6 th:text="${form.datelimit}">15/12/2022</h6>
        </div>

        <div class="col-sm-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Perguntas:</h5>

                    <ul class="list-group" th:each="question : ${questions}">
                                                       -->
                        <li class="list-group-item d-flex mt-4" ><p class="p-0 m-0 flex-grow-1" th:text="${question.description}">Qual..............?</p><
                            <a th:href="@{/form/answer-question/{id}   (id=${question.id})}" type="button" class="btn btn-primary" >Responder</a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="fragments/footer-imports::scripts"></div>
</body>
</html>