<!DOCTYPE html>
<html lang="en" layout:decorate="~{employee-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-imports::scripts"></div>
</head>
<body sec:authorize="hasRole('EMPLOYEE')"><!---->
<div layout:fragment="body">
    <div class="container mt-4">
        <div class="container-fluid" th:if="${question.alternativesQuestion == false }">


            <form id="form" th:action="@{/form/create-answer}" method="POST">

                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <span style="padding-left:40px"></span>
                            <input class="form-check-input" type="hidden" name="questionId" th:value="${question.id}">
                            <p th:text="${question.description}" id="descriptionQuestion_id">Descrição da pergunta</p>

                            <br/>
                            <div class="d-flex justify-content-center">
                                <textarea id="answerTextDescription_id" name="answerText" placeholder="Insira a resposta aqui" cols="150"
                                          rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-danger btn-lg btn-block mt-4" id="save_asnwer_id">Salvar Resposta</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <br/>

        <div class="container-fluid" th:if="${question.alternativesQuestion == true }">


            <form id="form2" th:action="@{/form/create-alternative-answer}" method="POST">

                <div class="col-sm-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input class="form-check-input" type="hidden" name="questionId" th:value="${question.id}">
                            <span style="padding-left:40px"></span>
                            <p th:text="${question.description}" id="descriptionAlternativeQuestion_id">Descrição da pergunta </p>

                            <br/>

                            <div class="form-check" th:each="option : ${options}"><!--th:each="option : ${options}"-->
                                <input class="form-check-input" type="radio" name="optionId" th:value="${option.id}" id="option_checkbox_id" >
                                <label class="form-check-label" th:text="${option.description}" >
                                    <!--th:text=${option.description}-->
                                    descriçao alternativa
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-lg btn-block mt-4"id="save_option_id">Salvar Resposta</button>
                            <!--create resposta -->

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

<div th:replace="fragments/footer-imports::scripts"></div>
</body>
</html>