<!DOCTYPE html>
<html lang="en" layout:decorate="~{employee-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-imports::scripts"></div>
</head>
<body><!--sec:authorize="hasRole('EMPLOYEE')"-->
<div layout:fragment="body">
    <div class="container mt-4">
        <div class="container-fluid" th:if="${question.alternativesQuestion == false }">
            <!--th:if="${question.alternativesQuestion == 'false' }"-->

            <form id="form" th:action="@{/form/create-answer}" method="POST">
                <!--vai ter os th :action da vida aqui para pegar a resposta-->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <input class="form-check-input" type="hidden" name="questionId" th:value="${question.id}">
                            <p th:text="${question.description}">Descrição da pergunta</p>
                            <!--(gambiarra)span serve para dar o espacinho de paragrafo th:text="${question.description}"-->
                            <br/>
                            <div class="d-flex justify-content-center">
                                <textarea name="description" placeholder="Insira a resposta aqui" cols="150"
                                          rows="4">	</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Salvar Resposta</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>

        <br/>

        <div class="container-fluid" th:if="${question.alternativesQuestion == true }">
            <!--th:if="${question.alternativesQuestion == 'true' }"-->

            <form><!--vai ter os th :action post que pega alternativa marcada-->
                <div class="col-sm-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <input class="form-check-input" type="hidden" name="questionId" th:value="${question.id}">
                            <p th:text="${question.description}">Descrição da pergunta</p>
                            <!--span serve para dar o espaçinho de paragrafo th:text="${question.description}" tirar o escrito auzul dps -->
                            <br/>

                            <div class="form-check flex-row" th:each="option : ${options}"><!--th:each="option : ${options}"-->


                                <input class="form-check-input" type="radio" name="optionId" th:value="${option.id}">
                                <span style="padding-left:20px"></span>
                                <label class="pr-6" name="option_label " th:text="${option.option_label}"></label>
                                <label>-</label>
                                <label class="form-check-label" th:text="${option.description}">
                                    <!--th:text=${option.description}-->
                                    descriçao alternativa
                                </label>

                            </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block mt-4">Salvar Resposta</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

<div th:replace="fragments/footer-imports::scripts"></div>
</body>
</html>