<!DOCTYPE html>
<html lang="en" layout:decorate="~{reviewer-layout}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<div th:replace="fragments/head-imports::scripts"></div>
</head>
<body sec:authorize="hasRole('REVIEWER')">


<div layout:fragment="body">
	<div class="container-fluid">
		<h2 class="mt-4">Criar Fomulário</h2>
		<form th:action="@{/form/create-form}" method="POST" ><!---->
			<div class="form-row">
				<div class="col">
					<label>Entre com o título:</label>
					<input type="text" name="title" class="form-control" id="titulo">
				</div>
				<div class="col">
					<label>Data limite para resposta:</label>
					<input type="date" name="datelimit" class="form-control" id="date">
					<br/>
				</div>

			</div>
			<div class="d-flex justify-content-center">
				<button type="submit" class="btn btn-outline-secondary btn-lg btn-block">Submeter</button>
			</div>
		</form>

		</br>
		</br>

		<h3 class="mt-4">Formulários:</h3>
		<div>
			<ul class="list-group">
				<li class="list-group-item d-flex" th:each="form:${forms}">
					<p class="p-0 m-0 flex-grow-1" th:text="${form.title}"></p>
					<button class="btn btn-primary" th:href="@{/form/form-details/{id}  (id=${form.id}) }" >
						Detalhes
					</button>
				</li>
			</ul>

		</div>
	</div>
</div>


<div th:replace="fragments/footer-imports::scripts"></div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Date Label-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
</body>
</html>




