<!DOCTYPE html>
<html lang="en" layout:decorate="~{reviewer-layout}">
<head>
    <meta charset="UTF-8">
    <title>View Form</title>
    <div th:replace="fragments/head-imports::scripts"></div>
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>
<body sec:authorize="hasRole('REVIEWER')">

<div layout:fragment="body" >

    <!--falta os th dessa pagina -->
    <div class="container-fluid">
        <div class="col-sm-12" >
            <!---->
            <div class="d-flex flex-row justify-content-center">
                <h3 class="mt-4"th:text="${form.title}"></h3>
            </div>

            <h6 >
                Data limite para resposta:
            </h6><h6 th:text="${form.datelimit}"></h6>
        </div>
        <!--th:text="${form.datelimit}"-->

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Perguntas:</h5>

                        <ul class="list-group" >

                            <li class="list-group-item d-flex" th:each="question : ${questions}" ><p th:text="${question.description}"
                                    class="p-0 m-0 flex-grow-1" >
                                Qual..............?</p>
                                <!-- dentro do button th:href="@{/question/delete/{id}   (id=${question.id})}"-->
                                <a th:href="@{/question/delete/{id}  (id=${question.id})}"
                                   class="btn btn-danger" role="button">DELETE
                                </a>
                        </ul>
                        <br/>
<!--                        pathvariable?-->
                        <a th:href="@{/form/add-question-page/{id}  (id=${form.id})}" class="btn btn-primary btn-lg btn-block">Adicionar
                            Perguntas</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Colaboradores:</h5>
                        <ul class="list-group ">
                            <!--dentro do li th:each="collaborator : ${collaborators}" -->
                            <li class="list-group-item d-flex" th:each="respondent : ${respondents}" ><p th:text="${respondent.name}"
                                   class="p-0 m-0 flex-grow-1" >Maria Maria</p><!--dentro do paragrafo  th:text="{collaborator.fullName}" -->
                                <a th:href="@{/respondent/delete/{id}  (id=${respondent.id})}"
                                        class="btn btn-danger" role="button">DELETE
                                </a><!--th:href="@{collaborator/delete/{id}  (id=${collaborator.id})}"-->
                            </li>
                        </ul>
                        <br/>

                        <a th:href="@{/form/add-employee-page/{id}  (id=${form.id})}" class="btn btn-primary btn-lg btn-block">Adicionar
                            Colaboradoes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<div th:replace="fragments/footer-imports::scripts"></div>

<!-- List Itens -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>




