<!DOCTYPE html>
<html lang="en" layout:decorate="~{reviewer-layout}">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<div th:replace="fragments/head-imports::scripts"></div>
</head>

<body sec:authorize="hasRole('REVIEWER')">

<div layout:fragment="body" >
	<div class="container-fluid">
		<div class="col-sm-12" >
			<!---->
			<h3 class="mt-4"th:text="${form.title}">Formulário Risco e Compliance</h3> <!--tem que tirar oq ta em azul ai quando for por o th:href-->
			<h6 th:text="${form.datetime}">                                    <!-- -->
				Data de criação :
			</h6><h6>29/09/2022</h6>

			<h6 th:text="${form.datelimit}">
				Data limite para resposta:
			</h6><h6 >15/12/2022</h6>
		</div>

		<!--tem que exibir o respondente da avaliacao entao vai rolar uma alteracao no home , ele escolhe o colaborador dps a avaliacao que ele quer ver -->
		<h3 class="mt-4">Perguntas:</h3>
		<div class="col-sm-12"  >
			<div>
				<ul class="list-group">
					<li class="list-group-item d-flex" th:each="question:${questions}">
						<p class="p-0 m-0 flex-grow-1" th:text="${question.description}"></p>
						<button class="btn btn-primary" >
							Detalhes
						</button><!-- th:href="@{/form/details-question/{id}  (id=${form.id})}"fazer o details-question que imprime  a pergunta e resposta dada-->
					</li>
				</ul>

			</div>
		</div>




	</div>
</div>


<div th:replace="fragments/footer-imports::scripts"></div>
</body>
</html>