<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cadastro</title>
	<div th:replace="fragments/head-imports::scripts"></div>
</head>
<body sec:authorize="hasRole('REVIEWER')">
<!--TALVEZ SEJA NECESSARIO 2 FORMS NESSA PAGINA PARA MANDAR PERGUNTA ABERTA OU FECHADA SEPARADAMENTE-->
<div class="container">
	<div class="card o-hidden border-0 shadow-lg my-5">
		<div class="card-body p-0 ">
			<div class="text-center border-bottom border-danger bg-light">
				<h1 class="h4 text-gray-900 mb-4 my-2">Adicionar Perguntas</h1>
			</div>

			<div class="container-fluid">
				<form id="form" th:action="@{/form/add-question}" method="POST"> <!--th:action="@{/question/create-question}" method="POST"-->
					<div class="card" >
						<!--PERGUNTA ABERTA-->
						<div class="col-sm-12">
							<input name="formId" th:value="${form.id}" type="hidden">
							<div class="card-body">
								<div class="form-group" >
									<label >Descreva o enunciado da questão:</label>
									<textarea name="description" class="form-control" rows="3" ></textarea>
									<br/>
									<input class="form-check-input" name="alternativesQuestion" type="checkbox" placeholder="Pergunta Fechada "><p>Para perguntas fechadas preencher a descrição da pergunta marcar  essa opão e submeter  para adicioanr alternativas.</p>
									<!--se isso aqui for true vc vai passar para a pagina de alternativa no redirect add-form e false manda para pagina de details-->
								</div>
								<br/>
								<div class="d-flex justify-content-center">
									<button type="submit" class="btn btn-primary">Submeter</button>
								</div>
							</div>
						</div>
					</div>
				</form>
				</br>
			</div>
		</div>
	</div>
		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="vendor/datatables/jquery.dataTables.min.js"></script>
		<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="js/demo/datatables-demo.js"></script>
		<div th:replace="fragments/footer-imports::scripts"></div>
</body>


</html>