<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <div th:replace="fragments/head-imports::scripts"></div>
</head>
<body>

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0 ">
            <div class="text-center border-bottom border-primary bg-light">
                <h1 class="h4 text-gray-900 mb-4 my-2">Crie sua conta!</h1>
            </div>
            <div class="row ">

                <div class="col-lg-12 mt-2 ">
                    <h3 class="d-flex justify-content-center">Avaliador</h3>
                </div>

            </div>
            <form method="POST" th:action="@{/account/create-collaborator}" th:object="${collaborator}">

                <div class="col-lg-12">
                    <div class="card-body">

                        <div class="form-group">
                            <label >Email</label>
                            <input  class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group">
                            <label for="Password">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label >Nome</label>
                            <input type="text" class="form-control" id="username"  name="username" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label>Cpf</label>
                            <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Cpf">
                        </div>
                        <div class="form-group">
                            <label >Setor</label>
                            <input type="text" class="form-control" id="setor" name="setor"placeholder="Setor">
                        </div>
                        <div class="form-group">
                            <label>Sexo</label>
                            <input type="text" class="form-control" id="sexo" name="sexo" placeholder="Sexo">
                        </div>
                        <div class="form-group">
                            <label >Telefone</label>
                            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                   placeholder="(xx)-xxxxx-xxxx">
                        </div>
                        <div class="form-group">
                            <div class="card">

                                <div class="card-body">
                                    <!--table de seleção dos colaboradores tem que adicionar os th each-->
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="card-title">Organização que você pertence:</h3>
                                            <div class="card-tools">
                                                <div class="input-group input-group-sm" style="width: 300px;">
                                                    <input type="text" class="form-control float-right" placeholder="Search">
                                                    <div class="input-group-append">
                                                        <button type="submit" class="btn btn-default">
                                                            <i class="fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body table-responsive p-0" style="height: 200px;">
                                            <table class="table table-head-fixed text-nowrap">
                                                <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Organização</th>
                                                    <th>Opção</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="organization:${organizations}" > <!--th:each="collaborator:${collaborators}"-->
                                                    <td th:text="${organization.id}">183</td><!--th:text="${collaborator.id}"-->
                                                    <td th:text="${organization.name}">John Doe's Bakery</td> <!--th:text="${collaborator.fullName}"-->
                                                    <!--se estiver selecionado o colaborador será vinculado a avaliação-->

                                                    <td>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox">
                                                            <label class="form-check-label">Selecionar</label>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <br/>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <label>Insira a organização que o funcionario pertence:</label>
                            <div class="row justify-content-md-center">
                                <div class="col col-md-auto">
<!--                                    <select name="organization" id="organizations" style="width:200px">-->
<!--                                        <option th:selected="${organization.id}" th:each="organization:${organizations}"-->
<!--                                                th:value="${organization.id}" th:text="${organization.name}">ORGANIZAÇÃO-->
<!--                                        </option> -->
<!--                                    </select>-->
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center p-4 bg-light">
<!--                    <a class="btn btn-primary" th:href="@{/account/register-organization}">Voltar</a>-->
                    <div class="ml-4">
                        <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                </div>
            </form>

        </div>

    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<div th:replace="fragments/footer-imports::scripts"></div>
</body>


</html>