<!DOCTYPE html>
<html lang="en" layout:decorate="~{reviewer-layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="fragments/head-imports::scripts"></div>
</head>
<body sec:authorize="hasRole('REVIEWER')">
<div layout:fragment="body" >
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0 mx-">
                <div class="text-center border-bottom border-danger bg-light">
                    <h1 class="h4 text-gray-900 mb-4 my-2">Cadastre seus Colaboradores</h1>
                </div>
            </div>
            <form method ="POST", th:action="@{/account/create-employee}">
                <div class="col-lg-12">
                    <div class="card-body">

                        <div class="form-group">
                            <label >Email</label>
                            <input  class="form-control"  name="email" type="email">

                        </div><div class="form-group">
                        <label >Nome de usuário</label>
                        <input type="text" class="form-control"  name="username">
                    </div>

                        <div class="form-group">
                            <label>Senha</label>
                            <input type="password" class="form-control"  name="password" placeholder="password">
                        </div>
                        <div class="form-group">
                            <label >Nome</label>
                            <input type="text" class="form-control"   name="fullName" placeholder="Nome">
                        </div>
                        <div class="form-group">
                            <label>Cpf</label>
                            <input type="text" class="form-control"  name="cpf" placeholder="Cpf">
                        </div>
                        <div class="form-group">
                            <label >Cargo</label>
                            <input type="text" class="form-control"  name="jobTitle"placeholder="Cargo">
                        </div>
                        <div class="form-group">
                            <label>Sexo</label>
                            <input type="text" class="form-control"  name="gender" placeholder="Sexo">
                        </div>
                        <div class="form-group">
                            <label >Telefone</label>
                            <input type="text" class="form-control"  name="phoneNumber"
                                   placeholder="(xx)-xxxxx-xxxx">
                        </div>


                    </div>
                </div>

                <div class="card-footer d-flex justify-content-center p-4 bg-light">
                    <a class="btn btn-danger" th:href="@{/reviewer-home}">Voltar</a>
                    <div class="ml-4">
                        <button type="submit" class="btn btn-danger ">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/datatables/jquery.dataTables.min.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/datatables-demo.js"></script>
<div th:replace="fragments/footer-imports::scripts"></div>
</body>

</html>