<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="/fragments/head-imports::scripts"></div>
</head>
<body>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-9 col-lg-10 col-md-8">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">

                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Faça o Login</h1>
                        </div>
                        <form class="user" method="POST" th:action="@{/account/login}">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user"
                                       id="username"
                                       name="username"
                                       aria-describedby="emailHelp"
                                       placeholder="Insira seu username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user"
                                       id="password"
                                       name="password"
                                       placeholder="Senha">
                            </div>
                            <div class="form-group justify-content-center">
                                <div class="custom-control custom-checkbox small">
                                    <input type="checkbox" class="custom-control-input"
                                           id="customCheck">
                                    <label class="custom-control-label" for="customCheck">Me lembre</label>
                                </div>
                            </div>
                            <button id="botaoLogin" type="submit" class="btn btn-primary btn-user btn-block">
                                Entrar
                            </button>
                            <hr>
                        </form>
                        <hr>

                        <div class="text-center">
                            <a class="small" th:href="@{/account/sign-up-reviewer}">Crie sua Conta</a>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
<div th:replace="/fragments/footer-imports::scripts"></div>
</body>
</html>